trackmywallet.org, www.trackmywallet.org {
	root * /srv
	encode gzip
	log {
		output stdout
		format console
	}

	@backend path /api/* /sanctum/*
	handle @backend {
		reverse_proxy backend:9000 {
			transport fastcgi {
				env SCRIPT_FILENAME /var/www/html/public/index.php
				env SCRIPT_NAME /index.php
			}
		}
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
